# URL de la API del Backend (Opcional - Si se despliega y conecta un backend real)
# Por defecto, la app utilizará http://localhost:3001/api o la persistencia local de contingencia (localStorage)
NEXT_PUBLIC_API_URL=http://localhost:3001/api
